@import './variable.styl'
html
  font-size: $ft-14
  background-color: $col-black
  .ft-14
    font-size: $ft-14
  .ft-0
    font-size: $ft-0
  .ft-18
    font-size: $ft-18
  .fw-600
    font-weight: $fw-600
  .fw-700
    font-weight: $fw-700
  .pd-b-4
    padding-bottom: $pd-b-4
  .pd-b-40
    padding-bottom: 0.533333rem  
  .pd-l-40
    padding-left: 0.533333rem
  .pd-r-40
    padding-right: 0.533333rem
  .mar-b-40
    margin-bottom: 0.533333rem
  .mar-r-40
    margin-right: 0.533333rem
  .col-white
    color: #fff    
  .col-gray
    color: $col-gray
  .col-black
    color: $col-black
  .col-yellow
    color: $col-yellow
  .bd-yellow
    border: $bd-yellow
  .bg-gray
    background-color: $bg-gray
  .bg-gray1
    background-color: $bg-gray1
  .bg-black
    background-color: #222
  .t-center
    text-align: center
  .v-top
    vertical-align: top
  .d-b
    display: block
  .d-i-b
    display: inline-block
  .d-f
    display: flex
  .flex-row
    flex-direction: row
  .flex-column
    flex-direction: column  
  .flex-1
    flex: 1
  .over-h
    overflow: hidden
  .flo-l
    float: left
  .p-f
    position: fixed
  .w-100
    width: 100%   