@import './variable.styl'
html
  font-size: $ft-14
  background-color: $col-black
  .ft-14
    font-size: $ft-14
  .ft-0
    font-size: $ft-0
  .ft-18
    font-size: $ft-18
  .fw-600
    font-weight: $fw-600
  .fw-700
    font-weight: $fw-700
  .pd-b-4
    padding-bottom: $pd-b-4
  .col-gray
    color: $col-gray
  .col-black
    color: $col-black
  .col-yellow
    color: $col-yellow
  .bd-yellow
    border: $bd-yellow
  .bg-gray
    background-color: $bg-gray
  .bg-gray1
    background-color: $bg-gray1
  .t-center
    text-align: center
  .v-top
    vertical-align: top
  .d-b
    display: block
  .d-i-b
    display: inline-block
  .d-f
    display: flex
  .flex-row
    flex-direction: row
  .flex-1
    flex: 1
  .over-h
    overflow: hidden
  .flo-l
    float: left
