@font-face {
  font-family: 'al_iconfont';  /* project id 854258 */
  src: url('//at.alicdn.com/t/font_854258_byxb4yf3m1o.eot');
  src: url('//at.alicdn.com/t/font_854258_byxb4yf3m1o.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_854258_byxb4yf3m1o.woff') format('woff'),
  url('//at.alicdn.com/t/font_854258_byxb4yf3m1o.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_854258_byxb4yf3m1o.svg#iconfont') format('svg');
}
.al {
  font-family:"al_iconfont" !important;
  font-size:40px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.al-back::before{content:"\e605"}