//通用
$col-yellow = #ffcd32
$col-black = #222
$col-gray = #999

$bd-yellow = 2px solid #ffcd32

$ft-0 = 0px
$ft-18 = 18px
$ft-14 = 14px

$fw-600 = 600
$fw-700 = 700

$bg-gray = rgba(255, 255, 255, 0.5)
$bg-gray1 = rgba(255, 255, 255, 0.8)

$pd-b-4 = 4px

//组件用
